.faqHeader {
  width: 100%;
  height: 70vh;
  background-image: url(../../../Assets/faqBg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 5%;
  h1 {
    padding-top: 12%;
    width: 28%;
    font-weight: 500;
    font-size: 40px;
    margin-left: 20%;
    color: white;
  }
  .faqInput {
    width: 800px;
    height: 50px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gray;
    background: white;
    margin-left: 20%;

    input {
      flex: 0.9;
      height: 43px;
      border: none;
      background: none;
      outline: none;
      color: gray;
      font-size: 15px;
    }
  }
}

/* XS Devices */
@media (max-width: 575px) {
  .faqHeader {
    width: 100%;
    height: 70vh;
    h1 {
      text-align: center;
      margin-left: 0;
      font-size: 1.5rem;
      width: 95%;
      margin: auto;
      padding-top: 45%;
      margin-bottom: 20px;
    }
    .faqInput {
      width: 90%;
      height: 45px;
      margin-left: 0;
      margin: auto;
    }
  }
}

/* SM Devices */
@media (min-width: 576px) and (max-width: 767px) {
  .faqHeader {
    width: 100%;
    height: 70vh;
    h1 {
      text-align: center;
      margin-left: 0;
      font-size: 1.5rem;
      width: 95%;
      margin: auto;
      padding-top: 45%;
      margin-bottom: 20px;
    }
    .faqInput {
      width: 75%;
      height: 45px;
      margin-left: 0;
      margin: auto;
    }
  }
}

/* MD Devices */
@media (min-width: 768px) and (max-width: 990px) {
  .faqHeader {
    h1 {
      font-size: 1.8rem;
      margin-left: 10%;
      width: 55%;
      margin-bottom: 20px;
      padding-top: 15%;
    }
    .faqInput {
      width: 80%;
      margin-left: 10%;
    }
  }
}

/* LG Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .faqHeader {
    h1 {
      font-size: 1.9rem;
      margin-left: 10%;
    }
    .faqInput {
      width: 70%;
      margin-left: 10%;
    }
  }
}

/* XL Devices */
@media (min-width: 1200px) {
}
