.productsMenu {
  width: 100%;
  height: 100%;
  display: flex;

  .productsMenu__left {
    width: 70%;
    height: auto;
    .prodMenu__header {
      width: 95%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    .prodMenu__list {
      width: 100%;
      height: auto;
      ul {
        list-style: none;
        width: 100%;
        li {
          a {
            width: 100%;
            height: 50px;
            padding: 3px;
            display: flex;
            align-items: center;
            margin-top: 10px;
            transition: 0.2s linear;
            font-weight: 500;
            font-size: 15px;
            div:nth-child(2) {
              h4 {
                transition: 0.2s linear;
                color: black;
              }
              p {
                font-size: 16px;
                color: #9a9a9a;
              }
            }
          }

          div:nth-child(2) {
            h4 {
              transition: 0.2s linear;
            }
            p {
              font-size: 16px;
              color: #9a9a9a;
            }
          }
          .logoImg {
            width: 35px;
            height: 35px;
            background: none;
            display: grid;
            place-items: center;
            margin-right: 10px;
            border-radius: 200px;
            img {
              height: 25px;
              transition: 0.2s linear;
            }
          }
        }
        li:hover {
          cursor: pointer;
          div:nth-child(2) {
            h4 {
              color: #ff8c00;
            }
          }
          .logoImg {
            img {
              height: 35px;
            }
          }
        }
      }
    }
  }
  .productsMenu__right {
    width: 30%;
    height: auto;
    h3 {
      margin-bottom: 15px;
    }
    div {
      margin: 20px 0;
      h4 {
        font-weight: 600;
      }
      p {
        font-size: 14px;
        color: #9a9a9a;
      }
    }
    .secondh {
      margin-bottom: 20px;
      font-weight: 600;
    }
    .secondP {
      margin-top: 10px;
      color: #9a9a9a;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .productsMenu {
    .productsMenu__left {
      .prodMenu__list {
        ul {
          li {
            div:nth-child(2) {
              h4 {
                transition: 0.2s linear;
              }
              p {
                font-size: 12px;
                color: #9a9a9a;
              }
            }
          }
        }
      }
    }
  }
}
