.partnerContainer {
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  .partnerContainer__left {
    width: 500px;
    height: 500px;
    margin-top: 7%;
    margin-left: 5%;
    h1 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      width: 430px;
      font-size: 20px;
      color: #666;
    }
  }
  .partnerContainer__right {
    width: 834px;
    height: auto;
  }
}
/* XS Devices */
@media (max-width: 575px) {
  .partnerContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    .partnerContainer__left {
      display: none;
    }
    .partnerContainer__right {
      width: 100%;
    }
  }
}

/* SM Devices */
@media (min-width: 576px) and (max-width: 767px) {
  .partnerContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    .partnerContainer__left {
      display: none;
    }
    .partnerContainer__right {
      width: 100%;
    }
  }
}

/* MD Devices */
@media (min-width: 768px) and (max-width: 990px) {
  .partnerContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    .partnerContainer__left {
      display: none;
    }
    .partnerContainer__right {
      width: 100%;
    }
  }
}

/* LG Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .partnerContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    .partnerContainer__left {
      display: none;
    }
    .partnerContainer__right {
      width: 100%;
    }
  }
}

/* XL Devices */
@media (min-width: 1200px) {
}
