.pricingCard {
  width: 329px;
  height: 89%;
  padding: 40px;
  border-right: 1px solid white;
  h4 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #b2b2b2;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
  h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    span {
      color: #c2c2c2;
      font-size: 18px;
      margin-top: -35px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: #b2b2b2;
    text-align: center;
    margin-bottom: 30px;
  }
  .myButtonContainer {
    width: 100%;
    text-align: center;
    button {
      width: 200px;
      height: 45px;
      background: #fff;
      border: 2px solid #ececec;
      outline: none;
      border-radius: 200px;
      color: black;
      font-weight: 600;
      font-size: 15px;
      transition: 0.3s linear;
      cursor: pointer;
    }
    button:hover {
      background: #ff8c00;
      color: #fff;
      border: 2px solid #ff8c00;
      cursor: pointer;
    }
  }
  h6 {
    width: 220px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    color: #a8a8a8;
    margin-top: 20px;
  }
  hr {
    margin-top: 50px;
    height: 1px;
    border: none;
    background: #ececec;
  }
  ul {
    margin-top: 30px;
    list-style: none;
    margin-left: 20px;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 0;

      img {
        height: 25px;
        object-fit: contain;
        margin-right: 25px;
      }
      h5 {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

/* XS Devices */
@media (max-width: 575px) {
  .pricingCard {
    width: 100%;
    height: auto;
  }
}

/* SM Devices */
@media (min-width: 576px) and (max-width: 767px) {
  .pricingCard {
    width: 80%;
    height: auto;
  }
}

/* MD Devices */
@media (min-width: 768px) and (max-width: 990px) {
  .pricingCard {
    width: 35%;
    height: auto;
    margin: auto;
  }
}

/* LG Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .pricingCard {
    width: 35%;
    height: auto;
    margin: auto;
  }
}

/* XL Devices */
@media (min-width: 1200px) {
}
